<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.4)), url(<%= image_path "whisky-banner.jpg" %>);">
  <div class="container col-3">
      <div class="row">
        <%= cl_image_tag @cocktail.photo.key, width: 300, height: 300, crop: :fit, radius: :max, border: { width: 2, color: 'white' } %>
      </div>
      <div class="row mt-3">
        <h1><%= @cocktail.name %></h1>
      </div>
      <div class="row">
        <% @cocktail.doses.each do |dose| %>
          <h5>Ingredients:</h5>
          <ul>
            <li><%= dose.ingredient.name %></li>
          </ul>
          <div class="row">
            <h5>Description:</h5>
            <li><%= dose.description %></li>
          </div>
            <td>
              <%= link_to dose_path(dose), method: :delete, data: { confirm: "Are you sure?" } do %>
                <i class="fa fa-trash destroy_dose"></i>
              <% end %>
            </td>
          </tr>
        <% end %>
      </div>
      <div class="row mt-3">
        <%= link_to "Add Ingredients", new_cocktail_dose_path(@cocktail), class: "btn btn-secondary" %>
      </div>
      <div class="row mt-3">
        <%= link_to 'Delete Drink', @cocktail, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-dark" %>
        <%= link_to 'Back', cocktails_path, class: "btn btn-outline-dark ml-3" %>
      </div>
  </div>


